<a href="https://colab.research.google.com/github/thowfeekkr/ict_assignment/blob/main/assignment03_thowfeekkr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# assignment 3

q1

In [ ]:
n1 = float(input(" enter 1st numbers: "))
n2 = float(input("enter 2nd number :"))
n3 = float(input("Enter 3rd number: "))
nm = max(n1,n2,n3 )
print(nm)

 enter 1st numbers: 50
enter 2nd number :200
Enter 3rd number: 300
300.0

q2

In [4]:
number =[1,2,3,4,5]
total = sum(number)
print(total)

15

**q3**

In [5]:
num = [10,20,30,40,50]
n1=int(input("Enter the number you want to insert: "))
pos = int(input("Enter the position in the list: "))
num.insert(pos,n1)
print(num)

Enter the number you want to insert: 60
Enter the position in the list: 5
[10, 20, 30, 40, 50, 60]

**q4**

In [6]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}

In [7]:
sample_dict['city'] = "chalakudy"

In [8]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'chalakudy'}

q5

In [12]:
sample_dict1 = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}
}

In [15]:
sample_dict1['emp3']['salary'] = 8500

In [16]:
sample_dict1

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

q6

In [17]:
 tuple1 = (11, 22, 33, 44, 55, 66)

In [18]:
tuple2 = tuple1[3:5]

In [19]:
tuple2

(44, 55)

q7

In [21]:
 tuple1 = (50,10,60,70,50,83,567,50,81)

In [22]:
tuple1.count(50)

3