<a href="https://colab.research.google.com/github/thowfeekkr/ict_assignment/blob/main/assignment01_thowfeekkr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASSINGMENT 01

1.Grocery Billing

In [ ]:
item1_price = int (input(' item-1 price: '))
item1_quantity =int (input( 'quantity of item1: '))
item2_price =int (input(' item-2 price: '))
item2_quantity =int (input('quantity of item2: '))
total_bil=(item1_price * item1_quantity)+(item2_price * item2_quantity)
print("total bill",float(total_bil))

 item-1 price: 300
quantity of item1: 2
 item-2 price: 600
quantity of item2: 1
total bill 1200.0

2.Temperature Conversion

In [ ]:
C =float(input('Enter temperature in Celsius: '))
F=(C * (9/5)) + (32)
print('Temperature in Fahrenheit= :',F)

Enter temperature in Celsius: 0
Temperature in Fahrenheit= : 32.0

3.Salary Slip

In [ ]:
salary = int(input('Enter basic salary: '))
HAR = float((salary*20)/100)
DA=float((salary*10)/100)
Net_salary = salary+HAR+DA
print('Net salary=',Net_salary )

Enter basic salary: 10000
Net salary= 13000.0

4.Simple Interest

In [ ]:
p = int(input('Enter the principle ammount: '))
R = float(input("Enter the Rate of interest: "))
T = int(input('Enter the tenure: ' ))
sl =((p*R*T)/100)
print("simple interest= ",sl)

Enter the principle ammount: 10000
Enter the Rate of interest: 5
Enter the tenure: 2
simple interest=  1000.0

5.Time Conversion

In [ ]:
total=int(input("enter the total min.: "))
h = int(total/60)
m = float(total-(h*60))
print("HOURS=",h)
print('minute=',m)

enter the total min.: 165
HOURS= 2
minute= 45.0

6.BMI Calculator

In [ ]:
w = float(input("enter the weight in kg: ") )
h = float(input("enter the height in m: " ))
BIM = float(w/(h*h))
print("BIM=",BIM)

enter the weight in kg: 60
enter the height in m: 1.65
BIM= 22.03856749311295

7.Discount Calculation

In [ ]:
og_p= int(input("enter the orginal price:"))
dis = og_p-((og_p*10)/100)
print('Discounted Price=: ',dis)

enter the orginal price:1000
Discounted Price=:  900.0

8.Area of a Triangle (Using Heronâ€™s Formula)

In [ ]:
a =float(input('enter the side a:'))
b = float(input('enter the side b:'))
c = float(input('enter the side c:'))
s = float((a+b+c)/2)
import math
a =math.sqrt(s*(s-a)*(s-b)*(s-c))
print('Area of the triangle=', a)

enter the side a:5
enter the side b:6
enter the side c:7
Area of the triangle= 14.696938456699069

9.Paint Cost Estimator

In [ ]:
l=int(input("enter the wall length (m): "))
h=int(input("enter the wall height(m): "))
a1=l*h
a = a1-(2*(1.5*1.2))
print("Total area to be painted= ",a)
c = a*25
print("Total painting cost=",c)

enter the wall length (m): 12
enter the wall height(m): 8
Total area to be painted=  92.4
Total painting cost= 2310.0

10.Electricity Bill Calculator

In [ ]:
uc = int(input("Enter number of units consumed: "))
eb =float((uc*5.2)+100)
print('Electricity Bill=',eb)

Enter number of units consumed: 250
Electricity Bill= 1400.0